:root {
  --white: white;
  --black: black;
  --lightGrey: #f3f0ec;
  --brightGray: #e9ebee;
  --mainColor: #007EFD;
  --darkGray: #383e45;
  --lightGray: rgb(226, 221, 221);
  --Gray: gray;
  --grey: #D4D3D3;
  --yellow: #ffb400;
  --Dark_blue: #005AB4;
  --Light_blue: #007EFD;
  --mainGreen: #61B846;
  --blue: #024F9D;
  --main_linear_gradient: linear-gradient(129deg, rgba(0, 126, 253, 1) 30%, rgba(0, 90, 180, 1) 50%);
}
/* get Started  */
.getStarted_main_div {
  text-align: center;
  background-color: white;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px 3px #61B846;
  backdrop-filter: blur(25px);
  height: auto;
  padding-bottom: 50px;
  margin: 10px;

  /* Note: backdrop-filter has minimal browser support */

  border-radius: 35px;

}

.log_saylani_Store {
  text-align: center;
  margin: 20px auto;
  width: auto;
}

.log_saylani_Store>img {
  width: auto;

}

.saylaniWelfare_heading_div {
  color: var(--mainGreen);

}

.saylaniWelfare_heading_div>p {
  color: var(--blue);

}

.get_Started_button_div {
  margin-top: 80px;
}

.get_Started_button {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: var(--mainGreen);
  font-family: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: var(--white);

}

.link_login {
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
}

/* SIGNUP FORM */

.Signup_form {
  text-align: center;
  margin-top: 50px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px 3px #61B846;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;

}

.Signup_form_heading>h1 {
  color: var(--mainGreen);
}

.Signup_form_heading>p {
  color: var(--blue);
  margin-top: -10px;
  font-weight: bold;
  margin-bottom: 50px;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 3%;
  margin: 25px 0;
  padding: 5px 0;
  width: 250px;
  margin: 20px auto;
}

.input-div.one {
  margin-top: 0;
}

.input {
  border: none;
  margin-left: 10px;
  width: 230px;
  border-bottom: 1px solid var(--grey) !important;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--mainGreen);

}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: .3s;
}

.form_icon:hover {
  color: var(--Light_blue) !important;
}

.get_Started_button_div {
  margin-top: 80px;
}

.get_Started_button {
  border: none;
  width: 250px;
  /* padding: 10px 50px 10px 50px; */
  background-color: var(--mainGreen);
  font-family: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.already_account {
  color: var(--blue);
}

/* navbar_styling */

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation4,
.MuiAppBar-root,
.MuiAppBar-colorPrimary,
.MuiAppBar-positionStatic,
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  border-bottom: 1px solid var(--black);
  background-color: var(--white) !important;
}

.navbar_icon {
  color: var(--black) !important;
}

/* admin add item */

.camera_main_div {
  width: 70%;
  height: 40vh;
  margin: auto;
  border-radius: 10px;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Add_item_heading {
  color: var(--Dark_blue);
  margin-left: 15%;
}

.camera_icon {
  font-size: 200px !important;
  color: var(--Gray) !important;
}

.inputs_div {
  width: 70%;
  margin: 20px auto;
}

.inp {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--lightGray);
  font-size: 20px;
}

.inp:focus {
  outline: none;
}

.inp::placeholder {
  padding-left: 10px;
  font-size: 20px;
}

.text_area {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--lightGray);
  font-size: 20px;
}

.text_area:focus {
  outline: none;
}

.text_area::placeholder {
  padding-left: 10px;
  font-size: 20px;
}

.unit_name_div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.unit_inp {
  width: 70%;
}

/* profile setting css */

.profile_main_div{
  width: 100%;
  text-align: center;
}
.profile_img{
  width: 200px;
  height: 200px;
}