:root {
  --white: white;
  --black: black;
  --lightGrey: #f3f0ec;
  --brightGray: #e9ebee;
  --mainColor: #007EFD;
  --darkGray: #383e45;
  --yellow: #ffb400;
  --Dark_blue: #005AB4;
  --Light_blue: #007EFD;
  --main_linear_gradient: linear-gradient(129deg, rgba(0, 126, 253, 1) 30%, rgba(0, 90, 180, 1) 50%);
}
